.createteam-button{
    margin-left: 15px;
}

.button2{
    margin-top: 20%;
}

.category{
    margin-top: 12%;
}

.categoryB{
    margin-left: 15%;
}

.categoryC{
    margin-left: 15%;
}

